@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(231, 89%, 62%);
  --foreground: hsl(56, 89%, 62%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
