@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(231, 89%, 62%);
  --foreground: hsl(56, 100%, 70%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
* {

  margin: 0px;

  padding: 0px;

  box-sizing: border-box;

}

.body-text {

  display: flex;

  font-family: "Montserrat", sans-serif;

  align-items: center;

  justify-content: center;

  margin-top: 250px;

}

nav {

  display: flex;

  justify-content: space-around;

  align-items: center;

  min-height: 8vh;

  background-color: teal;

  font-family: "Montserrat", sans-serif;

}

.heading {

  color: white;


  letter-spacing: 5px;

  font-size: 20px;

}

.nav-links {

  display: flex;

  justify-content: space-around;

  width: 30%;

}

.nav-links li {

  list-style: none;

}

.nav-links a {

  color: hsl(56, 100%, 70%);

  text-decoration: none;

  letter-spacing: 3px;

  font-weight: bold;

  font-size: 14px;

  padding: 14px 16px;

}

.nav-links a:hover:not(.active) {

  background-color: lightseagreen;

}




